body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto
}

#container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto
}

#cézár {
    height: 20vh;
}

#színek {
    display: flex;
    flex-direction: row;
}

#red {
    margin: 5px;
    width: 25vmin;
    height: 25vmin;
    background-color: red;
}
#blu {
    margin: 5px;
    width: 25vmin;
    height: 25vmin;
    background-color: blue;
}
#grn {
    margin: 5px;
    width: 25vmin;
    height: 25vmin;
    background-color: green;
}
